<h2 class="text-center"t>Categories:</h2>
<br>
<% @categories.each do |category| %>
    <div class="itemhols">
        <a href="/category/<%= category.title %>" ><%= image_tag category.image, :class => 'itemholsIm' %></a>
        <p><%= category.title %></p>
    </div>
<% end %>