<footer class="footer_class">
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <div class="container-fluid justify-content-center">
          <div style="width:280px;">
            <p class="copyright text-muted">Copyright &copy; Lukasz Plawinski 2021</p>
          </div>
      </div>
    </nav>
</footer>